@model App.BLL.DTO.LocationAssets

@{
    ViewData["Title"] = "Delete";
}

<h1>@Base.Resources.Common.DeleteTitle</h1>

<h3>@Base.Resources.Common.DeleteConfirmQuestion</h3>
<div>
    <h1>@App.Resources.Domain.LocationAssets.LocationAssetsSingular</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset!.AssetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location!.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-danger">
            @Base.Resources.Common.DeleteButton
        </button> |
        <a asp-action="Index">@Base.Resources.Common.BackToListLink</a>
    </form>
</div>
