@model IEnumerable<App.BLL.DTO.Owner>

@{
    ViewData["Title"] = "Index";
}

<h4>@App.Resources.Domain.Owner.Owners</h4>

@if (User.IsInRole("admins") || User.IsInRole("helpdesk_db_admins"))
{
    <p>
        <a asp-action="Create">@Base.Resources.Common.CreateNewLink</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            @if (User.IsInRole("admins") || User.IsInRole("helpdesk_db_admins"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Base.Resources.Common.EditLink</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Base.Resources.Common.DeleteLink</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
